* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.text-green {
    color: #19BD9A;
}

.text-darknes {
    color: #515459;
}

.bi::before {
    display: inline-block;
    content: "";
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

#header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.main {
    position: relative;
    background-image: url(../images/soxil.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 200px 0 200px;
}

.navbar-brand {
    font-size: 25px;
}

.nav-link {
    font-size: 20px;
}

.nav-link:hover {
    border-radius: 50px;
    border: 2px solid #ffffff;
    padding: 2px 20px 2px 20px;
}

.rounded-pill {
    border-radius: 18px !important;
}

#about {
    margin-top: 50px;
}

#spp2 {
    margin-left: 25%;
}


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    background-color: darkgray;
}

/* .btn-circle {
    background-color: #19BD9A;
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 2.42857;
} */

.btn-btn-circle {
    display: none;
    position: fixed;
    background-color: #FFF;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid#333;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color,color;

    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    border-radius: 50%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
}

.btn-btn-circle:hover, .btn-btn-circle:focus {
    background-color: #333;
    color: #fff !important;
}

.btn-btn-circle svg {
    margin-bottom: 10px;
}

#details {
    min-height: 80vh;
    width: 100%;
    background-color: #F3F3F3;
}

#details .texts {
    padding-top: 110px;
}

#featured .images {
    height: 16rem;
    width: 730px;
}

#featured .imag {
    height: 16rem;
    width: 390px;
}

#featured .for-image {
    background-image: url(../images/foot.png);
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#featured .for-image-color {
    position: absolute;
    background-color: rgba(25, 165, 134, 0.8);
    width: 100%;
    height: 100%;
}

#featured .for-image .bt {
    border: 1px solid #ffffff;
}

#impres {
    background-image: url(../images/boy.png);
    min-height: 35vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#impres .darknes {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}

#up-img {
    /* margin-top: -50px;*/
    margin-left: 100px;
    height: 220px;
    width: 300px;
}

#lets-talk {
    background-image: url(../images/layer1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    width: 100%;
    position: relative;
    margin-top: 80px;
}

#lets-talk .back-dark {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}

#testimonia {
    background-color: #F3F3F3;
    height: 80vh;
    width: 100%;
}

#testimonia .contan img {
    width: 10%;
    height: 20%;
}

#testimonia .container img {
    margin-top: 50px;
    height: 125px;
    width: 125px;
}

#coruselIndicator>li {
    width: 18px;
    height: 18px;
    background-color: #F3F3F3;
}

#dark-side {
    height: 80vh;
    background-image: url(../images/blog.png);
    position: relative;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#dark-side .back-black {
    position: absolute;
    height: 80vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(../images/black-top.png);
}

#price {
    height: 100vh;
    width: 100%;
    background-color: #F3F3F3;
}

#price .card {
    height: 350px;
    margin-top: 100px;
}

#bg-green {
    height: 100px;
    width: 100%;
    background-color: #19BD9A;
}

#bg-green1 {
    height: 100px;
    width: 100%;
    background-color: #19BD9A;
}

#bg-green2 {
    height: 100px;
    width: 100%;
    background-color: #19BD9A;
}

a {
    text-decoration: none !important;
}

#subscribe {
    background-image: url(../images/layer2.png);
    height: 40vh;
    position: relative;
    width: 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}

#subscribe .darkn {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#contact {
    width: 100%;
    height: 80vh;
    background-color: #F3F3F3;
}

#bg-img {
    background-image: url(../images/layer2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 10rem;
    width: 100%;

}

#bg-img svg {
    color: seashell;
    margin: 60px 0px 0px 150px;
}

#bg-img3 {
    background-image: url(../images/w2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 10rem;
    width: 100%;
}

#bg-img2 svg {
    color: seashell;
    margin: 60px 0px 0px 150px;
}

#bg-img3 svg {
    margin: 60px 0px 0px 150px;
    color: seashell;

}

#bg-img2 {
    background-image: url(../images/w3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 10rem;
    width: 100%;
}

#contact .card {
    height: 350px;
}

#for-form .btn {
    width: 100%;
}

#text-area {
    width: 100%;
}

#exampleFormControlInput1 {
    width: 100%;
}

#map {
    margin-top: 180px;
}

#footer {
    background-color: #F3F3F3;
    height: 28vh;
    width: 100%;
}



@media only screen and (max-width: 991px) {
    #up-img {
        display: none;
    }
}









/*
#service .container .row .col-lg-4 .img {
    background: url(../img/Ellipse\ 3\ copy@1X.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    margin: 20px;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 45%;
}

#service .container .row .col-lg-4 .img2 {
    background: url(../img/Ellipse\ 3\ copy@1X.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    margin: 20px;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 80%;
}

#service .container .row .col-lg-4 .img3 {
    background: url(../img/Ellipse\ 3\ copy@1X.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    margin: 20px;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}  */